---
layout: default
---

{% include hero.html %}

{% if site.slider == true and page.url == '/' %}
  {% include slider.html %}
{% endif %}

<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="container__inner section">
        <div class="section-top">
          <h5 class="section-title">Latest Posts</h5>
        </div>
        <div class="contaniner__inner-box">
          <div class="row grid">
            {% if site.posts.size > 0 %}
              {% for post in paginator.posts %}
                {% include article-content.html %}
              {% endfor %}
            {% endif %}
          </div>
          {% include pagination.html %}
        </div>
      </div>
    </div>
  </div>
</div>
